
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="https://www.lusherengineering.com/">
									Lusher Engineering Services
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy;  
                        Coded with <a target="_blank" href="https://appseed.us">AppSeed for LES</a>
					</div>				
				</div>
            </footer>
            